<!DOCTYPE html>
<html>
<head>
  <title>Glitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="http://images.cooltext.com/4109445.gif" alt="Glitter"/>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)"><%= link_to 'Home', root_path %></a></li>
        <li class="nav-link"><a href="javascript:void(0)"><%= link_to 'Users', display_path %></a></li>
        <li class="nav-link"><a href="javascript:void(0)"><%= link_to 'Sign Up', new_user_registration_path %></a></li>

      </ul>
    </nav>
    <div class="navigation-tools">
			<ul>
	    <% if user_signed_in? %>
		   <li><%= render partial: 'sparkles/sparkle' %> </li>
		  <li class="profile-button"><a href="javascript:void(0)"><button><%= current_user.profile_name %></button></a></li>
	    <li><a href="javascript:void(0)"><button><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button></a></li>
		    <% else %>
	    <li><a href="javascript:void(0)"><button><%= link_to 'Sign In', new_user_session_path %></button></a></li>
		    <% end %>
				</ul>
    </div>
  </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="glitter-container">
</div>
  <section class="glitter-section">



	  <%= yield %>



</section>

</body>
</html>
